html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.pad {
    padding: 10px 50px;
}

.flexbox {
    width: 100%;
    margin: 0 auto;
    min-width: 100%;
    height: auto;
}

.flexbox .board {
    width: 100%;
    background-color: white;
    /* #d6d8d9 */
    border: 1px solid #c6c8ca;
    border-radius: 0px;
    overflow-y: auto;
    min-height: 700px;
}

.flexbox .board .task {
    /*padding: 15px 25px;*/
    /*background-color: #f3f3f3;*/
    border-radius: 0px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.overlay-board{
    background-color:black;
    filter: brightness(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed;
    pointer-events: none;
}